In [ ]:
import sqlite3
filename = 'cbdata.sqlite'
conn = sqlite3.connect(filename)
cur = conn.cursor()
cur.executescript('''
CREATE TABLE IF NOT EXISTS Publications (id TEXT NOT NULL PRIMARY KEY UNIQUE, title TEXT);
CREATE TABLE IF NOT EXISTS Datasets (id TEXT NOT NULL PRIMARY KEY UNIQUE, title TEXT);
CREATE TABLE IF NOT EXISTS Referencing (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, publication_id INTEGER, dataset_id TEXT);
''')
conn.commit()

In [ ]:
dataset_title = ''
publication_title = ''
publication_id = 0
dataset_id = 0

In [ ]:
cur.execute('INSERT INTO Publications (id, title) VALUES (?, ?)', (publication_id, publication_title))
cur.execute('INSERT INTO Datasets (id, title) VALUES (?, ?)', (dataset_id, dataset_title))
cur.execute('INSERT INTO Referencing (publication_id, dataset_id) VALUES (?, ?)', (publication_id, dataset_id))
conn.commit()

OperationalError: database is locked